---
layout : layouts/base.njk

---

	<!-- Header -->
	<section id="header" class="dark">
		<header>
			<h1>
				<a href="{{ data.product }}" id="logo">{{ data.app_title }}</a>
			</h1>
			<p>
				Site de prezentare cu un design modern - <a href="{{ data.product }}">comanda produs</a> 
			</p>
		</header>
		<footer>
			<a href="#first" class="button scrolly">Mai Mult</a>
		</footer>
	</section>

	<!-- First -->
	<section id="first" class="main">
		<header>
			<div class="container">
				<h2>
					Cine suntem
				</h2>
				<p>
					<strong>WebsiteMarket</strong> este o agentie web cu sediul in Constanta, care isi propune sa ajute firmele mici si antreprenorii aflati la inceput de drum sa devina vizibili in mediul online cu un buget redus.
					Pentru a fi competitivi, utilizam doar <strong>tehnologii de ultima generatie</strong> pentru a livra site-uri rapide 
					cu un <strong>design modern</strong> la un <strong>pret scazut</strong>.
				</p>
			</div>
		</header>
		<div class="content dark style1 featured">
			<div class="container">
				<div class="row">
					<div class="col-4 col-12-narrow">
						<section>
							<span class="feature-icon"><span class="icon fa-clock"></span></span>
							<header>
								<h3>
									Livrare rapida
								</h3>
							</header>
							<p>
								Timpul de livrare al site-urilor noastre este de cateva ore, din momentul in care avem pozele si textele.
							</p>
						</section>
					</div>
					<div class="col-4 col-12-narrow">
						<section>
							<span class="feature-icon"><span class="icon solid fa-bolt"></span></span>
							<header>
								<h3>
									Tehnologii Moderne
								</h3>
							</header>
							<p>
								Pentru a ramamne competitivi utilizam doar tehnologii sigure si de ultima generatie. 
							</p>
						</section>
					</div>
					<div class="col-4 col-12-narrow">
						<section>
							<span class="feature-icon"><span class="icon solid fa-gift"></span></span>
							<header>
								<h3>
									Cost Scazut
								</h3>
							</header>
							<p>
								Ne permitem sa livram calitate la un pret scazut prin tehnologie si automatizare. 
							</p>
						</section>
					</div>
					<div class="col-12">
						<footer>
							<a href="#second" class="button scrolly">Mai Mult</a>
						</footer>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Second -->
	<section id="second" class="main">
		<header>
			<div class="container">
				<h2>
					WebsiteMarket - Produse <a href="{{ data.github_group }}">Open-Source</a>
				</h2>
				<p>
					Pentru a fi cat mai transparenti, am decis sa publicam sursele tuturor produselor pe Github. 
					Oricine poate vedea codul sursa al produselor si cu putine cunostinte de programare, le puteti testa inainte de cumparare. 
				</p>
			</div>
		</header>
		<div class="content dark style2">
			<div class="container">
				<div class="row">
					<div class="col-4 col-12-narrow">
						<section>
							<h3>
								Portofoliu
							</h3>
							<p>
								Va prezentam in aceasta sectiune doar cateva dintre site-urile de prezentare dezvoltate de noi.
								Pentru lista completa, va rugam sa accesati <a href="{{ data.service }}">WebsiteMarket</a>
							</p>
							<footer>
								<a href="#third" class="button scrolly">Mai Mult</a>
							</footer>
						</section>
					</div>
					<div class="col-8 col-12-narrow">
						<div class="row">
							<div class="col-6"><a target="_blank" href="https://site-pensiune-paradigm.websitemarket.ro/" class="image fit"><img src="images/pic01.jpg" alt="" /></a></div>
							<div class="col-6"><a target="_blank" href="https://site-fitness-ethereal.websitemarket.ro/" class="image fit"><img src="images/pic02.jpg" alt="" /></a></div>
							<div class="col-6"><a target="_blank" href="https://site-medical-story.websitemarket.ro/" class="image fit"><img src="images/pic03.jpg" alt="" /></a></div>
							<div class="col-6"><a target="_blank" href="https://site-web-brasov-consultant.websitemarket.ro/" class="image fit"><img src="images/pic04.jpg" alt="" /></a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Third -->
	<section id="third" class="main">
		<header>
			<div class="container">
				<h2>
				WebsiteMarket - Site-uri simple, rapide cu un design modern 
				</h2>
				<p>
					Produsele dezvoltate de agentia noastra au un design modern care se va afisa impecabil pe orice dispozitiv.
				</p>
			</div>
		</header>
		<div class="content dark style3">
			<div class="container">
				<span class="image featured"><img src="images/pic07.jpg" alt="" /></span>
				<div class="row">
					<div class="col-4 col-12-narrow">
						<h3>
							Sectiune Informativa
						</h3>
						<footer>
							<a href="#fourth" class="button scrolly">Contact</a>
						</footer>					
					</div>
					<div class="col-4 col-12-narrow">
						<p>
							Suntem o companie tanara care si propune sa ajute companiile mici si antreprenorii aflati la inceput de drum sa 
							devina vizibili in meniul online cu un buget redus.
						</p>
					</div>
					<div class="col-4 col-12-narrow">
						<p>
							Am ales sa fim competitivi printr-o abordare noua care presupune munca, cercetare si utilizarea de tehnologii noi.
							Site-urile livrate de noi sunt sigure, rapide si le putem livra in cateva ore.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="fourth" class="main">
		<header>
			<div class="container">
				<h2>
					Contact
				</h2>
				<p>
					In cazul in care iti place acest design, il poti comanda pritr-un simplu email la adresa 
					<strong><a href="mailto:{{ data.email }}">{{ data.email }}</a></strong>
					<br />
					<strong>(formularul este inactiv)</strong> 
				</p>
			</div>
		</header>
		<div class="content style4 featured">
			<div class="container medium">
				<form method="post" action="#">
					<div class="row gtr-50">
						<div class="col-6 col-12-mobile"><input type="text" placeholder="Nume" /></div>
						<div class="col-6 col-12-mobile"><input type="text" placeholder="eMail" /></div>
						<div class="col-12"><textarea name="message" placeholder="Mesajul tau"></textarea></div>
						<div class="col-12">
							<ul class="actions special">
								<li><input type="submit" class="button" value="Trimite Mesaj" /></li>
								<li><input type="reset" class="button alt" value="Anuleaza" /></li>
							</ul>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
